{{!-- removes api endpoint --}}
<form action="/login" method="post">

{{!-- email --}}
<input type="text" name="email" placeholder="email">

{{!-- password --}}
<input type="text" name="password" placeholder="password">

<button type="submit">Login</button>

</form>